td.paid {
    background-color: #90EE90 !important;
    /* Green */
    color: white;
}

td.unpaid {
    background-color: #FFB6C6 !important;
    /* Red */
    color: white;
}

td.current-unpaid {
    background-color: transparent !important;
    color: black;
}

td.present {
    background-color: #90EE90 !important;
    /* Green for present */
    color: white;
}

td.absent {
    background-color: #FFB6C6 !important;
    /* Red for absent */
    color: white;
}

.tick-toggle-btn {
    background-color: white;
    color: inherit;
    /* Use the inherited text color */
    border-radius: 3px;
    padding: 0;
    /* Reset padding */
    border: none;
    /* Remove default border */
    cursor: pointer;
}

.tick-toggle-btn.paid {
    color: red;
}

.tick-toggle-btn.unpaid {
    color: green;
}

.tick-toggle-btn.present {
    color: red;
}

.tick-toggle-btn.absent {
    color: green;
}